@charset  "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 52.5;
}

body {
    background-color: rgba(0, 0, 0, 0.603);
    font-family: "Michroma", sans-serif;
    font-optical-sizing: auto;    
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.all{
  padding: 25px;
  background-color: white;
  border-radius: 50px;  
}

h1.all{
  text-align:center;
}

div.clock{
  /*font-size: 40px;*/
  font-size: 4rem;  
  font-weight: 700;
  text-align: center;
  color: brown;
}

.greating{
  font-size: 1.4rem;
  padding: 20px 0;
  text-align: center;
}

footer{
  font-size: 0.7rem;
  text-align: center;
  border-top: 1px solid white;
  padding-top: 20px;

}
